@page
@using ShopProject.Models
@model ShopProject.Pages.Products.AddModel
@{
	var photoPath = $"~/images/{Model.product.PhotoPath ?? "jen11.jpg"}";
}
<form method="post" enctype="multipart/form-data">

	<input type="hidden" asp-for="product.PhotoPath" />
	<div class="input-group mb-3" style="width: 200px;">
		<img class=" card-img-top imageThumbnail border border-primary" src="@photoPath" asp-append-version="true" />
		<div class="custom-file">
			<input asp-for="Photo" class="custom-file-input form-control" />
			<label class="custom-file-label text-left"></label>
		</div>
	</div>

<div class="input-group">
	<label asp-for="@Model.product.Name">Add Name</label>
	<input asp-for="@Model.product.Name"  />
</div>
<div class="input-group">
		<label asp-for="@Model.product.PhoneNum">Add Phone Number</label>
		<input asp-for="@Model.product.PhoneNum" />
</div>
<div class="input-group">
		<label asp-for="@Model.product.ShortDescription">Add short Description</label>
		<input asp-for="@Model.product.ShortDescription" />
</div>
<div class="input-group">
		<label asp-for="@Model.product.qty">Add quantity</label>
		<input asp-for="@Model.product.qty" />
</div>

   <select asp-for="@Model.product.category" class="custom-select mr-2" asp-items="Html.GetEnumSelectList<Categories>()">
    <!--Добавляем начальный элемент выпадающего списка-->
  <option value="">Please Select</option>
   </select>


   <div class="card-footer text-center" style="background-color: rgba(0, 0, 0, 0.25);">
		<button type="submit" class="btn btn-success buttonShadow" >Update</button>							
	</div>
</form>