
@page "{id?}"
@using ShopProject.Models
@model ShopProject.Pages.Products.ProductsModel
@{
	var photoPath= "";
}

<div class="input-group mb-3">
	<input type="text" class="form-control" placeholder="Search" aria-label="Recipient's username" aria-describedby="button-addon2">
	<button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
</div>
	
<div>
	<a asp-page="/Products/Add"  class="btn btn-success m-1 buttonShadow">Add new Product</a>
</div>

<input type="hidden" asp-for="product.PhotoPath" />
@foreach(var prod in Model.Products)
	{
		 photoPath = $"~/images/{prod.PhotoPath}";
		<div class="card" style="width: 18rem;">
		<img class=" card-img-top imageThumbnail border border-primary" src="@photoPath" asp-append-version="true" />
	  <div class="card-body">
		<h5 class="card-title">@prod.Name</h5>
		<p class="card-text">@prod.ShortDescription</p>
	  </div>
	  <ul class="list-group list-group-flush">
		<li class="list-group-item">@prod.category</li>
		<li class="list-group-item">@prod.qty</li>
		
	  </ul>
	  <div class="card-body">
		<a asp-page="/Products/Delete" asp-route-Id="@prod.Id">Delete</a>
		<a asp-page="/Products/Edit" asp-route-Id="@prod.Id">Edit</a>
	</div>
	</div>
	
	}
</div>